<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yousheng.yousheng">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".notify.NewItemActivity"
            android:label="@string/new_item" />
        <activity
            android:name=".weight.WeightActivity"
            android:label="@string/weightRecord" />
        <activity android:name=".activity.OvulationActivity" />
        <activity android:name=".activity.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".habit.AllHabitActivity" />
        <activity android:name=".activity.RecordOvulationActivity" />
        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.MenseManagementActivity" />
        <activity android:name=".habit.HabitActivity" />
        <activity android:name=".habit.HabitDetailActivity" />
        <activity android:name=".habit.HoldOnDays" />

        <receiver android:name=".receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="com.yousheng.item" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.yousheng.habit" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ReadyActivity" />
        <activity android:name=".activity.PregnantCheckActivity" />
        <activity android:name=".activity.PregnantCheckDetailActivity"></activity>
    </application>

</manifest>